<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header class="header">
        <div class="top-header">
        <div class="top-header1">
            <a href="/"><img src="/images/logo-mercado-liebre.svg" class="logo" alt="Logo de MercadoLiebre"></a>

        <div class="search-bar">
            <form action="search">
            <div><input type="text" name="search" class="form-search" placeholder="Buscar productos y mas"></div>
             </form>
            <i class="fas fa-search"></i>
        </div></div>


        <div class="top-header2">
            <p class="left-header"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        </div>
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>
    
    <main>
        <form action="/login" method="POST" class="form-login">
            <div class="form-control">  
                <input type="email" name="email" placeholder="Nombre de usuari@" required="">
                <span><p>El nombre de usuario/e-mail no es válido.</p></span>
            </div>
            <div class="form-control">  
                <input type="password" name="password" placeholder="Ingresa tu contraseña" required="">
                <span><p>Contraseña incorrecta. Pruebe nuevamente.</p></span>
            </div>
            <button type="submit" class="login"><a href="/"> Ingresar</a></button>
        </form>

    </main>
    <footer>
        <div class="footer-3">
            <article class="pie">
            <div><i class="fas fa-credit-card"></i></div>
            <h2>Pagá con tarjeta o en efectivo</h2>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            </article>   
            <article class="pie">
            <div><i class="fas fa-gift"></i></div>
            <h2>Envío gratis desde los $2.500</h2>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            </article>   
        <article class="pie">
            <div><i class="fas fa-user-shield"></i></div>
            <h2>Seguridad, de principio a fin</h2>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </article>   
    </div>
    <article class="pie-2">
        <p>Copyright © 1999-2020 Mercado Liebre S.R.L.</p>
        </article>   
        
        </footer>
</body>
</html>